@charset "utf-8";
/* CSS Document */



.wrapper{
margin-left:10%;
width:80%;
}

.navbar1{
display:block;
position:relative;
width:100%;
height:30px;
background: -webkit-gradient(linear, 0% 0%, 0% 150%, from(#000), to(#333));
background: -moz-linear-gradient(top, #333, #000);
border-radius:8px;
}

.navbar_list1{
height:30px;
margin:0;
padding-left:2px;
padding-top:2px;
list-style:none;

}


.navbar_item a{
padding-top:4px;
padding-bottom:4px;
padding-left:20px;
display:block;
text-decoration:none;
font-family:Lucida Sans;
color:white;

}

.navbar_item a:hover{
color:#4d90fe;
color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d90fe), to(#4DB7FE));
color: -moz-linear-gradient(top, #333, #000);
}

.navbar_item{
margin-left:20%;
padding-right:0;
padding-left:20;
margin:0;
float:left;
width:15%;
border-right: 2px solid #323235;
}

.navbar_item img{
vertical-align:middle;
float:left;
display: block;
 
}

.navbar_item:hover{
   background: -webkit-radial-gradient(50% 150%, ellipse, #fff , #222 50%);
   background: -moz-radial-gradient(50% 100%, ellipse, #fff 5%, #333 20%);	
   
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating1{
    -webkit-animation: rotating 2s linear infinite;
}

#item1:hover img{
	-webkit-animation:wobble 1.5s infinite;
}
 .homeicon2{
   -webkit-transform: rotateY( 180deg );
 }
 
 #item3:hover img{
	-webkit-animation:translateUp 1.5s infinite;
}

@-webkit-keyframes translateUp
{
	0% {-webkit-transform:translate(0px,0px);opacity:1;}
	55% {-webkit-transform:translate(0px,-50px);opacity:0.3;}
	55.1% {-webkit-transform:translate(0px,30px);}
	100% {-webkit-transform:translate(0px,0px);opacity:1;}
}

@-webkit-keyframes wobble
{
	0% {-webkit-transform:rotate(0deg);}
	25% {-webkit-transform:rotate(30deg);}
	75% {-webkit-transform:rotate(-30deg);}
	100% {-webkit-transform:rotate(0deg);}
}